# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyAPPZgVrZF9SEaS42xx8RcsnM2i8EpenUQ"
VITE_FIREBASE_AUTH_DOMAIN="creadit-loan-5203b.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL="https://creadit-loan-5203b-default-rtdb.asia-southeast1.firebasedatabase.app"
VITE_FIREBASE_PROJECT_ID="creadit-loan-5203b"
VITE_FIREBASE_MESSAGING_SENDER_ID="95634892627"
VITE_FIREBASE_APP_ID="1:95634892627:web:1500052cb60f3b7e4823a6"
VITE_FIREBASE_MEASUREMENT_ID="G-V60FZSL5V1"

# Image Upload APIs
VITE_IMGBB_API_KEY="5fd2a4346ac2e5485a916a5d734d508b"
VITE_CLOUDINARY_CLOUD_NAME="dzqnfaqzy"
VITE_CLOUDINARY_API_KEY="988911776927922"
VITE_CLOUDINARY_API_SECRET="wQMNYhxJqk1xTt9jEmYJrjHsaFk"
